*.[oa]
Project
work
vista_work
sim
papoulis_project
objdir
*~
*.d
*.x
*.swp
visualhl.ini*
*_model.*
*_t.*
*_pvt.h
*.merged
*.gcda
*.gcno
*.gcov
gmon.out
*.template
*.layout
vista_power_transcript
.*
Debug
*.log
t
*.tgz
*.exe
