/* Default style */
.body {
  background-color: #FFFFFF;
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
span.cDefault {
}
p.pMGCIX1 {
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 0in;
  margin-right: 0in;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0in;
  text-transform: none;
}
p.pMGCIX2 {
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-right: 0in;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0in;
  text-transform: none;
}
p.pMGCIX3 {
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 30px;
  margin-right: 0in;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0in;
  text-transform: none;
}
