
/*
 * INDEX STYLES
 */

p.pInActiveLetter
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-se;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-indent: 0in;
  text-transform: none;
}
p.pMGCIXSnippet
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 25px;
  margin-right: 0in;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0in;
  text-transform: none
}
p.pMGCIXSnippet1
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 25px;
  margin-right: 0in;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0in;
  text-transform: none
}
p.pMGCIXSnippet2
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 40px;
  margin-right: 0in;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0in;
  text-transform: none
}
p.pMGCIXSnippet3
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 55px;
  margin-right: 0in;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0in;
  text-transform: none
}
p.pMGCIXTitleB
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0in;
  margin-top: 10px;
  text-align: left;
  text-decoration: underline;
  text-indent: 0in;
  text-transform: none;
}
.pMGCIX0
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: -10px;
  text-transform: none;
  line-height: 1.1em;
}

.pMGCIX1
{
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: -10px;
  text-transform: none;
  line-height: 1.1em;
}

.pMGCIX2
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: -10px;
  text-transform: none;
  line-height: 1.1em;
}
.pMGCIX3
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 45px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: -10px;
  text-transform: none;
  line-height: 1.1em;
}
.pMGCIX4
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 60px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: -10px;
  text-transform: none;
  line-height: 1.1em;
}
.pMGCIX5
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 75px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: -10px;
  text-transform: none;
  line-height: 1.1em;
}
.MGCIXDiv
{
  display: none;
  margin-bottom: 4px;
}
.MGCIXIcon
{
  border: none;
  margin-right: 0px;
  vertical-align: top;
  position: relative;
  left: -2px;
  top: 0px;
}
.MGCIXIconDiv
{
  display: inline;
}
a.MGCIXLink
{
  text-decoration: none;
  color: blue;
}
a.MGCIXLink:link
{
  text-decoration: none;
}
a.MGCIXLink:hover
{
  text-decoration: underline;
}
