/* Default style for links */
a:link    { 
            color: #2652A2;
            text-decoration: none;
          }
a:visited {
            color: #2652A2;
            text-decoration: none;
          }
a:active  {
            color: #2652A2;
            text-decoration: none;
          }
a:hover   { 
            color: blue;
            text-decoration: underline;
          }

/* Default style */
body
{
  background-color: #FFFFFF;
}

/* Use this style for footnote numbers */
sup.Footnote
{
   text-decoration: none;
}

/* Use this style to control spacing for inline related topics tags */
div.WWHInlineRelatedTopics
{
  margin-top:    8px;
  margin-bottom: 4px;
}
span.cLink:hover
{
  color: blue;
  text-decoration: underline;
}
span.cLinkItalic:hover
{
  color: blue;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-decoration: underline;
}
li
{
  color: Black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 10pt;
  margin-bottom: 6pt;
  margin-top: 2pt;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}
